.loginForm {
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -moz-box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    
}